.Modal {
  height: 500px;
  display: flex;
  background-color: #142D70;
  min-width: 1000px;
  max-width: 1000px;
}


.OpenModal {
   color: #69ca62;
   height: 100px;
   width: 400px;
   border-top: 1px solid #0011ff;
   background: #ffffff;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   box-shadow: inset 0 0 0 1px rgba(105, 202, 98, 0.5);
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #c9144a;
   font-size: 24px;
   font-weight: bold;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   border: none;
   outline: none;
   font-size: 30px;
}

.OpenModal, .OpenModal::before, .OpenModal::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.OpenModal {
  top: 350px;
  bottom: 0px;
  left: 550px;
  right: 0px;
}

.OpenModal::before, .OpenModal::after {
  content: '';
  margin: -5%;
  box-shadow: inset 0 0 0 2px;
  animation: Orbit 8s linear infinite;
}

.OpenModal::before {
  animation-delay: -4s;
}

@keyframes Orbit {
  0%, 100% { clip: rect(0px, 440px, 2px, 0px); }
  25%      { clip: rect(0px, 2px, 150px, 0px);}
  50%      { clip: rect(110px, 440px, 150px, 0px); }
  75%      { clip: rect(0px, 440px, 150px, 445px); }
}

/*clip: rect(<top>, <right>, <bottom>, <left>);*/


/*@keyframes Orbit {
  0%, 100% { clip: rect(0px, 440px, 2px, 0px); }
  25%      { clip: rect(0px, 2px, 150px, 0px);}
  50%      { clip: rect(110px, 440px, 150px, 0px); }
  75%      { clip: rect(0px, 440px, 150px, 445px); }
}*/


.OpenModal:hover {
   cursor: pointer;
}

.Nguyen {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.ModalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #142D70;
  margin: 15% auto;
  padding: 20px;
  border: 8px solid white;
  width: 60%;
  height: 470px;
  min-width: 600px;
}

.ModalContent p {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
}

.profilepic {
  width: 150px;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 20px;
}

.close {
  width: 150px;
  border-top: 1px solid #0011ff;
  background: #ffffff;
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #c9144a;
  font-size: 16px;
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
  border: none;
  outline: none;
  font-size: 30px;

}

.close:hover {
   color: #162599;
   cursor: pointer;
}

.Open {
  display: flex;
}

.ModalFooter {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

.link:link{
  color: white;
}

.link:visited {
  color: white;
}

.ModalContent li {
  color: white;
}
